html {
  scroll-behavior: smooth;
}

.div-fade-in {
    animation-name: div-fade-in-from-bottom;
    animation-duration: 5s;
}

.fade-in {
  animation-name: text-fade-in-from-bottom;
  animation-duration: 5s;
}

@keyframes text-fade-in-from-bottom {
  0% {margin-top: 125px; opacity: 0;}
  60% {margin-top: 75px; opacity: 0;}
  100% {margin-top: 0px; opacity: 1;}
}

@keyframes div-fade-in-from-bottom {
    0% {top: 125px;}
    60% {top: 75px;}
    100% {top: 0px;}
  }

footer canvas {
    position: absolute;
    z-index: -20;
}
